.container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;

}

.container_content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    max-width: 350px;
    margin-top: 60px;

}

.title {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

    position: relative;
    top: 20px;
    font-size: 25px;
    padding: 5px;
}

.container_input_text {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 40px 0px;

}

.form {
    width: 100%;
}

.input_text {
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    width: 90%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.438);
}

.input_text::placeholder {
    color: white;

}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.455);
    color: white;
    margin-top: 10px;
    padding: 0px 5px;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
    padding-bottom: 5px;
    padding-right: 5px;

}

.checkbox input[type=checkbox] {
    cursor: pointer;
    padding: 20px;

}

.btnSubmit {
    position: relative;
    bottom: 15px;
    background-color: white;
    font-size: 16px;
    padding: 7px 25px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

.error {
    color: red;
    animation-name: animError;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
}

@keyframes animError {
    0% {
        transform: rotateZ(0deg);
    }

    20% {
        transform: rotateZ(5deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes animClick {
    from {
        transform: rotateY(0deg) rotateY(0deg);
    }

    to {
        transform: rotateY(10deg) rotateY(360deg);
    }
}

.animValidation {
    animation-name: animClick;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;

}

.container_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}


.container_img_content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
    width: 100px;
    height: 100px;

}

.preview {
    cursor: pointer;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}

.fileLook {
    display: flex;
    align-items: center;

    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.657)
}

.img_info {
    color: rgb(47, 47, 47);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 10px 6px 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.Error {
    color: red;
}

.croix {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 25px;
    right: -20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.croix::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    transform: rotate(-45deg)
}

.croix::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    transform: rotate(45deg)
}

.sup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 0px;
    left: -10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.sup::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg)
}

.sup::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg)
}

.container_AllProfils {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.505);
    min-height: 200px;

    overflow: scroll;
    margin-bottom: 20px;
}

.subtitle {
    text-decoration: underline;
    margin-bottom: 10px;
}

.userprofil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 90%;

    border-bottom: 1px solid black;
}

.icone {

    padding: 0px;
    width: auto;
    height: 66px;

}

.imgProfil {
    border: 2px solid black;
    border-radius: 50%;
    width: 65px;
    height: 65px;

}



.info {
    margin-left: 10px;
}

@media only screen and (max-width: 320px) {
    .title {
        font-size: 18px;
        margin-top: 10px;
    }

    .croix {
        top: 30px;
    }
}